*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
body{
/*   background-image: url("img.png"); */
  background-color: #1a5fb4;
  color: black;
  width: 100%;
  padding: 3px 3px 3px 0px;
}
header {
  background-color: rgb(0, 0, 15, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
  color: gold;
  padding: 2px 5px 1px 2px;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.button{
  background-color: goldenrod;
  border-radius: 20px;
  padding-inline: 20px;
}
.button:hover{
  background-color: lightblue;
  border-radius: 10px;
}
p {
  color: #241f31;
  font-size: 20px;
  padding: 10px;
}
h1 {
  padding: 20px;
}
h2 {
  padding: 20px;
}
#about {
/* background-color: rgb(0, 0, 155, 0.9); */
  background-image: url("img.png");
  display: flex;
  align-items: center;
  margin-top: 3px;
  padding: 2em;
  width: 100%;
}
#service {
/*   background-color: rgb(0, 0, 15, 0.5); */
  display: flex;
  align-items: center;
  background-image: url("background.jpeg");
  color: white;
  padding: 2em 2em 2em 2em;
  margin-top: 3px;
  width: 100%;
  font-size: 15px;
  
}
#project {
/*   background-color: rgb(0, 0, 15, 0.9); */
  display: flexbox;
  background-image: url("bckg.jpeg");
  color: #f6d32d;
  padding: 2em;
  width: 100%;
  margin-top: 3px;
  height: 80vh;
}
.h2{
  color: #e01b24;
  padding: 10px;
}
.h3{
  color: goldenrod;
}
a {
  color: #c64600;
  text-decoration:none;
  padding-inline: 15px;
}
.link:hover{
  background-color: lightblue;
  border-radius: 10px;
}
#image {
  width: 100%;
  border-radius: 80px;
}
footer{
  background-color: rgb(0, 0, 18, 0.8);
  color: red !important; 
  text-align: center;
  padding: 2px;
  margin-top: 3px;
}
/* @media screen and (max-iwdth: 375){
  #about{
    flex-direction: row
  }
  
}
@media screen and (min-iwdth: 700){
  #about{
    flex-direction: row;
  }
  
} */